.slides {
	display: flex;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
  padding-top: 7rem;
  min-height: 700px;
}

.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide .img_wrap {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	align-self: center;
	min-width: 790px;
	width: 100%;
	height: calc(100% - 6rem);
	transform: rotate(-22.5deg);
	transform-origin: 50% 50%;
}

.slide .img_wrap img {
	opacity: 0.4;
	height: calc(50% - 1.5rem);
}

.slide .img_wrap .img1,
.slide .img_wrap .img4 {
	height: calc(50% + 3rem);
}

.slide .img_wrap .img1,
.slide .img_wrap .img3 {
	margin-right: 1.5rem;
}

.slide .img_wrap .img1,
.slide .img_wrap .img2 {
	margin-bottom: 1.5rem;
}

.slide .img_wrap .img2 {
	align-self: flex-end;
}

.slide .img_wrap .img3 {
	align-self: flex-start;
}

.slide .img_wrap .break {
	flex-basis: 100%;
	height: 0;
	text-indent: -9999em;
}

.slide .title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	font-size: 12vw;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}
.slide .title a{
	display: inline-block;
	overflow: hidden;
	color: var(--color-link-hover);
}
.slide .title a .title_inner {
	display: inline-block;
	overflow: hidden;
	transition: 0.35s;
	color: #fff;
}

.slide:not(:first-child) .title a:hover .title_inner:not(:nth-child(2)){
	color: #9c2626;
	
}
.slide .title .title_inner.middle {
	font-size: 2.5rem;
	display: block;
	font-weight: 300;
	text-transform: none;
}


.slides .slides_nav {
	position: absolute;
	top: 50%;
	cursor: pointer;
	background: none;
	border: 0;
	width: 90px;
	height: 20px;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: transform 0.2s ease-out;
}

.slides .slides_nav svg {
	display: block;
	width: 100%;
	height: 100%;
}

.slides .slides_nav.prev {
	left: 15vw;
}

.slides .slides_nav.prev:hover {
	transform: translate3d(-15%, 0, 0);
}

.slides .slides_nav.next {
	right: 15vw;
}

.slides .slides_nav.next:hover {
	transform: translate3d(15%, 0, 0);
}
