.web_cont{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 220px 0;
}
.web_cont .project{
	display: flex;
	padding-left: 5%;
	width: 60%;
	margin-bottom: 10%;
}


.web_cont .project .left{
	position: relative;
	width: 63%;
}
.web_cont .project .left h3{
	position: absolute;
	top: 70%;
	left: -30%;
	z-index: 1;
	transition: letter-spacing 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.web_cont .project .left:hover h3{
	letter-spacing: 5px;
}


.web_cont .project .left .img{
	width: 100%;
	overflow: hidden;
	transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.web_cont .project .left .img .img_bg{
	padding-top: 100%;
	text-indent: -9999em;
	background: url(../img/website_standard.jpg) center/cover;
}

.web_cont .project .left .img.mega .img_bg{
	background: url(../img/website_megabox.jpg) center/cover;
}

.web_cont .project .left .img.bakery .img_bg{
	background: url(../img/website_bakery.jpg) center/cover;
}

.web_cont .project .left .img.apple .img_bg{
	background: url(../img/website_apple.jpg) center/cover;
}

.web_cont .project .left .img.inno .img_bg{
	background: url(../img/website_innotech.jpg) center/cover;
}

.web_cont .project .left .img.pepsi .img_bg{
	background: url(../img/website_pepsi.jpg) center/cover;
}

.web_cont .project .left .img.hotel .img_bg{
	background: url(../img/website_hotel.jpg) center/cover;
}

.web_cont .project .right{
	width: 37%;
	padding: 10px 0 0 20px;
}
.web_cont .project .right .num{
	display: inline-block;
	font-size: 16vw;
	font-weight: 300;
	opacity: 0.06;
	transform: translateX(-18px);
}
.web_cont .project .right hr{
	margin: 20px 0 30px 0;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.541);
}
.web_cont .project .right h4{
	font-size: 20px;
	margin-bottom: 10px;
}
.web_cont .project .right .desc{
	font-family: 'Chosunilbo_myungjo';
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 40px;
}
.web_cont .project .right .desc > *{
	display: block;
}

.web_cont .project .right .desc span{
	font-size: 15px;
	word-wrap: break-word;
}
